.ag-row-even {
  background-color: #e6f7ff !important;
}

.ag-row-odd {
  background-color: #f2f2f2 !important;
}

.dark-mode .ag-row-even {
  background-color: #333 !important;
}

.dark-mode .ag-row-odd {
  background-color: #444 !important;
}
.cell-wrap-text {
  white-space: normal !important;
  line-height: 23px !important;
}

.cell-green {
  /* background-color: palegreen !important; */
  background-color: #bfe3d6 !important;
}

.cell-red {
  /* background-color: palevioletred !important; */
  background-color: #d5dff5 !important;
}

.cell-blue {
  /* background-color: paleturquoise !important; */
  background-color: #bce1e8 !important;
}

.cell-orange {
  /* background-color: bisque !important; */
  background-color: #e8daf5 !important;
}

.cell-basic {
  background-color: none !important;
}
.dark-mode .cell-wrap-text {
  color: #fff !important;
}

.dark-mode .cell-green {
  /* background-color: darkgreen !important; */
  background-color: rgb(43, 124, 48) !important;
}

.dark-mode .cell-red {
  /* background-color: darkred !important; */
  background-color: rgb(73, 122, 133) !important;
}

.dark-mode .cell-blue {
  /* background-color: darkturquoise !important; */
  background-color: rgb(58, 112, 187) !important;
}

.dark-mode .cell-orange {
  /* background-color: darkorange !important; */
  background-color: rgb(120, 79, 191) !important;
}

/* .dark-mode {
  background-color: #333;
  color: #fff;
} */

.menu-button {
  width: 200px; /* or any other value */
  margin: 2px 0;
}

/* Light mode scrollbar */
.ag-theme-alpine ::-webkit-scrollbar {
  width: 12px;
}

.ag-theme-alpine ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.ag-theme-alpine ::-webkit-scrollbar-thumb {
  background: #888;
}

.ag-theme-alpine ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ag-header-cell-label {
  justify-content: center;
}

/* Adding borders around the cells */
.ag-theme-alpine .ag-ltr .ag-cell {
  border-right: 0.5px solid rgb(156, 156, 156);
}

.ag-theme-alpine-dark .ag-ltr .ag-cell {
  border-right: 0.5px solid rgb(116, 116, 116);
}
