#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
}

#root.announcement-visible {
  height: 120vh; /* Increase height when announcement is visible */
}

body.dark-mode {
  background-color: #333;
  color: white;
}

body {
  background-color: white;
  color: black;
}

.app-container {
  position: relative;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.app-container.announcement-visible {
  height: 110vh; /* Increase height when announcement is visible */
}


.grid-container {
  display: grid;
  width: 100%;
  height: 90%;
  margin-top: 1rem;
}

.loading {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  animation: dot 1s infinite;
  margin: 0 2px;
}

.dot:nth-child(1) {
  animation-delay: 0.2s;
}

.dot:nth-child(2) {
  animation-delay: 0.4s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

.table-tab {
  outline: none;
}
@keyframes dot {
  0%,
  20%,
  100% {
    opacity: 0;
  }

  50%,
  70% {
    opacity: 1;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.overlay-content {
  color: white;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
}

/* React-tabs */
.react-tabs__tab-list {
  display: flex;
  justify-content: space-around;
}

.react-tabs__tab {
  flex: 1;
  text-align: center;
}

.tab-panel {
  /* height: 400px; Adjust the height as needed */
  overflow: auto; /* Optional: to handle overflow content */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 90vw;
  /* border: 3px solid green; */
  background-color: #3f3f3f;
}
